body {
    background-color: #FFF5EE; /* new color */
}

.resumePreview {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    width: 60%; /* Adjust the width as needed */
    height: 1070px; /* Set a longer height */
    box-shadow: 0 6px 20px grey;

  }
  