* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  
}

body {
  overflow-x: hidden;
}

.home,
.resume,
.projects,
.experience
.contact {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.resume {
  background-image: url('/public/images/beige-stroke2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--darkRed);
  font-size: 100px;
}

.projects {
  background-image: url('/public/images/texture.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--darkRed);
  font-size: 100px;
}

.experience {
  background-image: url('/public/images/waves.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--darkRed);
  font-size: 100px;
}

.contact {
  background-image: url('/public/images/swirls.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--darkRed);
  font-size: 100px;
}